button.button {
	border-width: 1px;
	border-radius: 8px;
}

.button-mode--secondary {
	color: #333;
	background-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.button-mode--primary {
	color: white;
	background-color: #1ea7fd;
	border-color: #1983c5;
}

.button-size--small {
	font-size: 0.75em;
	padding: 0.625rem 1rem;
}
.button-size--medium {
	font-size: 0.875em;
	padding: 0.687rem 1.25rem;
}
.button-size--large {
	font-size: 1em;
	padding: 0.75rem 1.5rem;
}
