@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Inter&family=Jost&family=Lato&family=Overpass&display=swap");

:root {
  --font-size-caption: 0.8rem;
  --font-size-caption-line-height: 1.2rem;
  --font-size-body: 1rem;
  --font-size-body-line-height: 1.5rem;
  --font-size-title: 1.25rem;
  --font-size-title-line-height: 1.875rem;
  --font-size-display: 1.563rem;
  --font-size-display-line-height: 2.34rem;

  --color-primary: #c85c5c;
  --color-primary-50: #e98989;
  --color-primary-25: #ffb4b4;
  --color-primary-10: #f6e5e5;
  --color-secondary: #f9975d;
  --color-secondary-50: #feb386;
  --color-secondary-25: #fed9c4;
  --color-secondary-10: #fffaf8;
  --color-others-blue: #a2cdcd;
  --color-others-green: #b2ea70;
  --color-others-yello: #fbd148;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: lightgray;
  font-family: lato, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
